In [1]:
import json
import csv
import numpy as np
import pandas as pd

In [2]:
with open('results/hist_run_1.txt') as file:
    hist = json.load(file)
YTP = list()
des_YTP = list()

In [3]:
def imprt():
    M = {}
    P = {}
    
    with open('data/missions.csv', mode='r',encoding='utf-8-sig') as f:
        reader = csv.reader(f)
        for row in reader:
            M[row[0]] = np.genfromtxt(row[1:10], dtype='int')
    
    with open('data/pilots.csv', mode='r',encoding='utf-8-sig') as f:
        reader = csv.reader(f)
        for row in reader:
            P[row[0]] = np.genfromtxt(row[1:6], dtype='int')
    return M, P

In [4]:

M, P = imprt()

In [5]:
total = 0 
for p in P:
    count = 0
    print(sum(hist[p].values()))
    for m in M:     
        if hist[p][m] - M[m][5] < 0:
            count += 1
            #print(m)
            print(p, m, hist[p][m], M[m][5])
    if count <= 0:
        print(p, 'passed min YTP')
        total += 1
    
print(total, 'passed the min YTP')
   #     print(p, count)

69
Maverick passed min YTP
70
Iceman passed min YTP
66
Viper passed min YTP
66
Goose passed min YTP
72
Sundown passed min YTP
72
Stinger passed min YTP
72
Jester passed min YTP
71
Slider passed min YTP
67
Hollywood passed min YTP
64
Cougar passed min YTP
71
Wolfman passed min YTP
70
Merlin passed min YTP
70
Charlie passed min YTP
73
Chipper passed min YTP
72
Kenny passed min YTP
71
Loggins passed min YTP
68
Danger passed min YTP
69
Zone passed min YTP
18 passed the min YTP

In [6]:
total = 0 
executed = 0
for p in P:
    count = 0

    for m in M:
        executed += hist[p][m]
        if hist[p][m] - M[m][1] < 0:
            count += 1
            #print(m)
            print(p, P[p][4], m, hist[p][m], M[m][1])
            
    if count <= 0:
        print(p, P[p][4], 'passed desired YTP')
        total += 1
    
print(total, 'passed the desired YTP')
print(executed, 'sorties flown')
   #     print(p, count)

Maverick 4 SDEAD_d_4 3 4
Iceman 4 AI_d_2 3 4
Viper 2 DCA_d_2 3 4
Viper 2 DCA_d_4 3 4
Viper 2 ISR_d_2 3 4
Goose 2 AI_d_2 3 4
Goose 2 CAS_d_2 3 4
Goose 2 ISR_d_2 3 4
Sundown 0 OCA_d_4 3 4
Sundown 0 AI_d_2 3 4
Stinger 0 ISR_n_2 1 2
Jester 0 ISR_d_2 3 4
Slider 0 OCA_d_2 3 4
Slider 0 ISR_d_2 3 4
Hollywood 4 AI_d_2 3 4
Hollywood 4 CAS_n_2 1 2
Cougar 4 OCA_d_2 3 4
Cougar 4 SDEAD_d_2 3 4
Cougar 4 SDEAD_n_2 1 2
Cougar 4 DCA_d_2 3 4
Cougar 4 ISR_n_2 1 2
Wolfman 2 passed desired YTP
Merlin 2 passed desired YTP
Charlie 0 SDEAD_n_2 1 2
Charlie 0 DCA_d_4 3 4
Charlie 0 CAS_d_2 3 4
Chipper 0 DCA_d_2 3 4
Kenny 0 OCA_d_4 3 4
Loggins 0 AI_d_2 3 4
Loggins 0 CAS_n_2 1 2
Danger 4 AI_n_2 1 2
Zone 4 DCA_d_4 3 4
2 passed the desired YTP
1253 sorties flown

In [7]:
print(hist['Charlie'])

{'BFM': 12, 'OCA_d_2': 4, 'OCA_d_4': 4, 'OCA_n_2': 2, 'OCA_n_4': 1, 'SDEAD_d_2': 4, 'SDEAD_d_4': 4, 'SDEAD_n_2': 1, 'SDEAD_n_4': 1, 'AI_d_2': 4, 'AI_d_4': 4, 'AI_n_2': 2, 'AI_n_4': 1, 'DCA_d_2': 4, 'DCA_d_4': 3, 'DCA_n_2': 2, 'DCA_n_4': 1, 'CAS_d_2': 3, 'CAS_d_4': 4, 'CAS_n_2': 2, 'CAS_n_4': 1, 'ISR_d_2': 4, 'ISR_n_2': 2}

In [8]:
a = pd.DataFrame([[3,2,1],[6,5,4],[9,8,7]])
b = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [9]:
print(b)
print(a)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   0  1  2
0  3  2  1
1  6  5  4
2  9  8  7

In [10]:
print(a.index[0])
print(a.loc[0])

0
0    3
1    2
2    1
Name: 0, dtype: int64

In [11]:
print(b.append(a.loc[0]))

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
0  3  2  1

In [12]:
print(b.iloc[0:2,:])

   0  1  2
0  1  2  3
1  4  5  6

In [13]:
c = pd.DataFrame(columns=["A", "B"])

In [14]:
print(c.empty)

True